.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.header {
  text-align: center;
  font-size: 32px;
  margin: 0px;
  width: 320px;
  color: #2d333a;
}

.button-image {
  width: 20px;
  height: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-items: start;
  gap: 12px;
}

.content-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid #c2c8d0;
  border-radius: 6px;
  box-sizing: border-box;
  color: #2d333a;
  height: 52px;
  width: 100%;

  font-size: 16px;
  line-height: 1.1;
  text-align: start;

  padding: 0 16px;
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;

  gap: 8px;
}

.content-edit-label {
  max-width: 250px;
  overflow: auto;
  word-break: break-all;
}

.button-password {
  background-color: #ffffff;
  border: none;
  outline: none;
  height: 100%;
  padding: 0px 16px;
  cursor: pointer;
}

.button-password:hover {
  box-shadow: inset 0 0 0 150px #0000001a;
}

.button-password-icon {
  width: 24px;
  height: 24px;
}
