.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.header {
  text-align: center;
  font-size: 32px;
  margin: 0px;
  width: 320px;
  color: #2d333a;
}

.button-image {
  width: 20px;
  height: 20px;
}

.password-error-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;

  margin: 0px;
  margin-top: -12px;
  padding-left: 20px;

  font-size: 10px;
  color: #d00e17;
  text-align: start;
}
