.container {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--gray-800);
  width: 100%;
}

.container::before,
.container::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--gray-800);
}

.container::before {
  margin-right: 10px;
}

.container::after {
  margin-left: 10px;
}

.label {
  text-transform: uppercase;
  font-size: 12px;
}
