:root {
  --white: #ffffff;
  --gray-800: #212121;

  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica,
    Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: var(--white);
  background-color: var(--gray-800);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
