.container {
  background: none;
  border: none;
  outline: none;
  color: #10a37f;
  padding: 4px;
  cursor: pointer;
  width: fit-content;
}

.container:focus {
  box-shadow: 0 0 0 4px rgba(0, 123, 173, 0.15),
    inset 0 0 0 150px rgba(0, 123, 173, 0.15) !important;
}
